* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* custom container */
.main-container {
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
}

/* navbar and styling */
.fa-bars{
  color: #fff;
  font-size: 40px;
 
}
nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(11, 11, 12, 0.98);
    padding: 20px 0 30px;
    z-index: 1;    
}

li a{ 
    text-transform: uppercase;
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

li a:hover{
    color: rgb(255, 19, 19);
}

nav .logo{
    font-family: 'Parisienne', cursive;
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    color: rgb(233, 233, 233);
    bottom: 20px;
    position: absolute;      
}

nav .logo span{
    color: rgb(221, 44, 80);
}


/* home section styling custom code */
.home_content h1{
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    
    margin-top: 280px;
    font-weight: 800;
    font-size: 5vw;
    color: rgb(247, 243, 230);
}

/* credit: code taken from css trick and edited 
   slighty to fit projects needs*/
.bg_image {
    background: url('../images/hero-img.jpg') no-repeat center bottom;
    background-size: cover;
    position: relative;
    height: 1000px; 
      
}

/* credit: code taken from css trick and edited 
   slighty to fit projects needs*/

.bg-contact_image {
        background: url('../images/restaurant-img.jpg') no-repeat center bottom;
        background-size: cover;
        position: relative;
        height: 100vh;      
    }

/* hero image */
.hero-outer {
    overflow: hidden;
    position: relative;  
}


/* button override custom styling */
.home_content .btn{
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 17px;
    padding: 20px 40px;
    border: 3px solid rgb(196, 53, 53);
    color: #fff;
}


/* about section styling */
.about_content {
    height: 100%;
    font-family: Arial;
    background-color: rgb(245, 245, 245);
}

.about_content .text {
    margin: 70px;
    font-size: 22px;
}

.about_content h1{
    text-transform: uppercase;
    margin-top: 100px;
}

.about_content img{
    margin-bottom: 50px;
}

/* title underline styling */
hr {
    margin: 0 auto;
    border: rgb(196, 53, 53) solid 3px ;
    border-radius: 10px;
    width: 100px;   
}

/* custom column styling */
.col-xl-6{
    padding: 40px;
    margin-top: 40px;
}

.text {
    margin: 0 50px;
    font-size: 22px;
}


/* chef section styling */
.chef_content {
    height: 100%;
    font-family: Arial;
    font-weight: normal;
    color: #fff;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    background-color: rgb(22, 63, 31);
}

/* chef title header */
.chef_content h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
}

.chef_content img{
    margin-bottom: 50px;
}

/* contact form styling */
.field{
    margin: 20px auto ;
    width: 600px;
    padding: 20px 50px;
    color: #fff;
    border: 10px solid rgb(235, 235, 235);
    background-color: rgba(7, 7, 7, 0.808); 
}

.btn {
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px 40px;
    color: #fff;
}

label {
    font-size: 17px;
    font-weight: 500; 
}

.contact-title {
    font-family: 'Volkhov', serif;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.801);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

/* location styling */
.title{
    font-family: 'Volkhov', serif;
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
    color: #000;
}

.open-hours {
    padding: 40px;
    width: 75%;
    height: 50em;
    line-height: 18px;
    color: rgb(7, 7, 7);
    margin-top: 50px;
    font-size: 17px;
    font-weight: 500;
}

.open-hours h2{
    text-align: center;
    font-size: 25px;
    border: 2px solid rgb(124, 124, 124);
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.open-hours h6{
    font-weight: 800;
    font-size: 17px;
  
}

.find-us {
    margin: 10px 0 50px 0;
}

iframe {
    margin-top: 90px;
}

/* footer styling */
.footer {
    width: 100%;
    text-align: center;
    background: rgb(17, 17, 17);
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    padding: 30px;
}


.footer h6{
    margin-top: 40px;
}

.social {
    position: absolute;
    float: left;
    letter-spacing: 15px;
    font-size: 30px; 
}

.fa-twitter, .fa-instagram, .fa-facebook-f{
    color: rgb(213, 216, 223);
}

.social :hover{
    color: rgb(40, 103, 250);
}

/* media query for mobile responsiveness */

/* iPad Screen Size */
@media only screen and (max-width: 800px) {

    .main-container {
        max-width: 1200px;
        padding: 0 10px;
        margin: auto;
    }

    .bg_image {
        background: url('../images/hero-img.jpg') no-repeat center;
        background-size: cover;
        position: relative;
        height: 100vh;
        bottom: 10px;        
    }

    .bg-contact_image {
        background: url('../images/restaurant-img.jpg') no-repeat center bottom;
        background-size: cover;
        position: relative;
        height: 100vh;     
    }


    .home_content h1{
        background-color: rgba(0, 0, 0, 0.623);
        font-size: 60px;
    }

    .field {
        width: 100%;  
    }

    .col-xl-12 {
        padding: 0;
    }

    .col-xl-6 {
        padding: 0;
    }
    
    nav {
        text-align: right;
        position: relative;
        padding: 15px;
    }
    nav .logo {
        position: relative;
        font-size: 30px;
        top: 10px;
        float: left;
    }

    li a{
        font-size: 30px;
        text-align: center;
    }

    .footer .social{
        align-items: center;
        left: 0;
        right: 0;   
        font-size: 30px;
    }

    .open-hours {
        width: 100%;
        color: rgb(0, 0, 0);
        font-weight: 700;
        background-color: rgb(241, 241, 241);
    }
    .contact-title {
        font-family: 'Volkhov', serif;
        width: 100%;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.801);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        color: rgb(255, 255, 255);
    }
    

}


/* Moble Screen Size */
@media only screen and (max-width: 540px){

    .main-container{
        max-width: 600px;
        padding: 0 10px;
        margin: auto;
    }

    .bg_image {
        background: url('../images/hero-img.jpg') no-repeat center  ;
        background-size: cover;
        position: relative;
        height: 100vh;
        bottom: 10px;        
    }

    .bg-contact_image {
        background: url('../images/restaurant-img.jpg') no-repeat center bottom;
        background-size: cover;
        position: relative;
        height: 100vh; 
        
    }

    .home_content h1{
        font-size: 45px;
        padding: 30px 20px;
        margin-top: 100px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.699);
    }

    nav {
        width: 100%;
        text-align: right;
        position: relative;
        padding: 15px;
        left: 0;
        top: 0;
        background-color: rgba(11, 11, 12, 0.98); 
    }
    
    li a{
        text-align: center;
        padding: 0 100px 0;
        font-size: 20px;
    }

    .footer .social{
        align-items: center;
        left: 0;
        right: 0;
        font-size: 20px;
    }

    .col-xl-6{
        padding: 50px 0;
        margin-top: 40px;
    }
    .col-xl{
        padding: 0 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .open-hours {
        width: 100%;
        color: rgb(0, 0, 0);
        font-weight: 700;
        background-color: rgb(241, 241, 241);
    }

   
    .text {
        font-size: 20px;
        padding: 10px;
        margin: 10px 0;
      
    }
    .about_content .text {
        font-size: 20px;
        padding: 0;
        margin: 30px 0px;
    }

    .home_content .btn{
        margin-top: 60px;
        text-transform: uppercase;
        font-size: 17px;
        padding: 15px 20px;
        font-weight: 500;
        background-color: crimson;
        color: #fff;
    }

    .contact-title{
        margin-top: 20px;
    }

    .btn {

        font-size: 10px;
        padding: 10px 10px;
    }

    .field{
        width: 100%;
        padding: 20px 20px;
        margin: 10px auto -70px;;
        color: #fff;
        border: 10px solid rgb(235, 235, 235);
        background-color: rgba(7, 7, 7, 0.808);   
    }

    .footer {
        text-align: center;
        padding: 20px;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    td {
        font-size: 80%;
    }

    nav .logo {
        position: relative;
        font-size: 30px;
        top: 10px;
        float: left;
    }

    .open-hours h2{
        text-align: center;
        font-size: 15px;
        border: 2px solid rgb(124, 124, 124);
        font-weight: 800;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    
    .open-hours h6{
        font-weight: 700;
        font-size: 18px;
      
    }
}

/* Moble Screen Size 320px and under */
@media only screen and (max-width: 375px){

    .main-container{
        max-width: 500px;
        padding: 0 10px;
        margin: auto;
    }

   
    .bg_image {
        background: url('../images/hero-img.jpg') no-repeat center  ;
        background-size: cover;
        position: relative;
        height: 100vh;
        bottom: 10px;        
    }

    .bg-contact_image {
        background: url('../images/restaurant-img.jpg') no-repeat center bottom;
        background-size: cover;
        position: relative;
        height: 100vh;   
    }

    .home_content .btn{
        margin-top: 60px;
        text-transform: uppercase;
        font-size: 17px;
        padding: 15px 20px;
        font-weight: 500;
        background-color: crimson;
        color: #fff;
    }

    .field{
        width: 100%;
        padding: 10px 10px;
        margin: 10px auto -180px;;
        color: #fff;
        border: 10px solid rgb(235, 235, 235);
        background-color: rgba(7, 7, 7, 0.808);   
    }

    .footer {
        text-align: center;
        padding: 10px;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .footer h6{
        font-size: 11px;
    }

    .rows{
        padding: -100px;

    }

    .open-hours h2{
        text-align: center;
        font-size: 12px;
        border: 2px solid rgb(124, 124, 124);
        font-weight: 800;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    
    .open-hours h6{
        font-weight: 800;
        font-size: 12px;
      
    }

    .table th{
        width: 100%;
        font-size: 12px;
    }
    
    .scop td{
        width: 100%;
       
    }
} 
