* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    padding: 0 80px;
    margin: auto;
}


/* navbar and styling */
nav{
    width: 100%;
    position: fixed;
    background-color: rgba(31, 31, 31, 0.993);
    padding: 20px;
    z-index: 1;
    
}

li a{ 
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

li a:hover{
    color: rgb(226, 97, 123);
}

nav .logo{
    font-family: 'Parisienne', cursive;
    font-weight: 600;
    font-size: 45px;
    text-decoration: none;
    color: rgb(233, 233, 233);
    position: absolute;
    left: 0;
    margin-left: 260px; 
    
}

nav .logo span{
    color: rgb(221, 44, 80);
}

/* home styling */
.home_content h1{

    font-family: 'Merienda', cursive;
    margin-top: 250px;
    font-weight: 500;
    font-size: 5vw;
    color: rgba(255, 222, 115, 0.849);
}

/* credit: code taken from css trick and edited 
   slighty to fit projects needs*/
.bg_image {
    background: url('../images/home-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100vh; 
    
}

button {
    margin-top: 60px;
}

/* about section styling */
.about_content {
    height: 100%;
    font-family: 'Volkhov', serif;
    background-color: rgb(245, 245, 245);
}

.title{
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #000;
}


hr {
    margin: 0 auto;
    border: rgb(158, 21, 21) solid 3px ;
    border-radius: 10px;
    width: 150px;
    
}

.col-xl-6{
    padding: 40px;
    margin-top: 40px;
}

.text {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1900px;
        padding: 0 10px;
        margin: auto;
    }
}


@media only screen and (max-width: 700px) {
    .container {
        max-width: 1900px;
        padding: 0 10px;
        margin: auto;
    }

    .col-xl-6{
        padding: 0px;
        margin-top: 40px;
    }
    
}
